name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 24
          distribution: zulu

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Set up gradle properties
        run: |
          echo -n "aoc_input_passphrase=" >> ~/.gradle/gradle.properties
          echo "${{ secrets.AOC_INPUT_PASSHPRASE }}" >> ~/.gradle/gradle.properties

      - name: Unpack inputs
        run: |
            tree --du -h year2025
            ./gradlew --scan :year2025:restoreResources

      - name: Build and Test
        run: ./gradlew :year2025:check
