name: Build and Test

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 1

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 24
          distribution: zulu

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Figure out gpg maybe
        run: |
          gpg --version
          sudo apt update
          sudo apt -y upgrade
          gpg --version

      - name: Unpack inputs
        run: ./gradlew :year2025:restoreResources
        env:
          AOC_INPUT_PASSPHRASE: ${{secrets.AOC_INPUT_PASSHPRASE}}

      - name: Build and Test
        run: ./gradlew :2025:check
